
:root {
    --blue: #5f76e8;
    --indigo: #6610f2;
    --purple: #5f76e8;
    --pink: #e83e8c;
    --red: #ff4f70;
    --orange: #fb8c00;
    --yellow: #fdc16a;
    --green: #22ca80;
    --teal: #20c997;
    --cyan: #01caf1;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #1c2d41;
    --primary: #5f76e8;
    --secondary: #6c757d;
    --success: #22ca80;
    --info: #5f76e8;
    --warning: #fdc16a;
    --danger: #ff4f70;
    --light: #e8eaec;
    --dark: #1c2d41;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Rubik", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }