<!DOCTYPE html>
<html dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">-->

    <title>HOME</title>

    <link th:href="@{/dist/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="text-container">
                <h1 class="h1-large">Начни готовиться к марафону уже сегодня</h1>
                <button type="button" class="btn-primary" th:href="@{/register}">Зарегистрироваться</button>
                <button type="button" class="btn-secondary" th:href="@{/login}">Войти</button>
            </div> <!-- end of text-container -->
        </div> <!-- end of col -->
    </div> <!-- end of row -->
</div> <!-- end of container -->

</body>
</html>